@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-dm-sans: 'DM Sans', sans-serif;

  --font-montserrat: 'Montserrat', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;

  background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);

  display: grid;
  place-items: center;
}

body, button, input {
  font-family: var(--font-dm-sans);
}

main {
  background-color: #FFFFFF;
  border-radius: 0.6rem;
  
  width: min(42.8rem, 90%);
  
  margin-top: -12rem;
  padding: 4.8rem 6.4rem 6.4rem;

  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);

  text-align:  center;
}

.hide {
  display: none;
}

h1 {
  font-family: var(--font-montserrat);
  font-size: 2.4rem;
  color: #34355B;

  margin-bottom: 1.6rem;
}
p {
  color: rgba(52, 53, 91, 0.8);
  font-size: 1.6rem;
}

form {
  display: flex;
  justify-content: center;

  margin-top: 4.8rem;
}

input, button {
  padding: 1.6rem;
  font-size: 1.6rem;
}

input {
  
  background-color: #DCE2E9;
  width: 6rem;
  height: 5.3rem;

  border-radius: 0.4rem 0 0 0.4rem;
  border: none;

  color: #34355B;
}

button {
  background-color: #7879F1;
  border-radius: 0 0.4rem 0.4rem 0;
  border: none;

  color: #FFFFFF;
  font-weight: 700;

  cursor: pointer;
}


.screen2 h2 {
  font-size: 2.4rem;
  font-weight: 400;
  color: #34355B;

  margin-bottom: 3.3rem;
}
.screen2 button {
  border-radius: 0.4rem;

  transition: background .3s;
}
.screen2 button:hover {
  background-color: #6363ce;
}