@charset "tf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;

  font-family: sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

html, body, .app, .page {
  background-color: #f7df1d;
}

.app {
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;
}

.page {
  max-width: 102.4rem;
  height: 60rem;
  margin: 0 auto;

  background-image: url('https://cdn.metring.com.br/categories/3/thumbnail.jpg');
  background-repeat: no-repeat;
  background-position: 100% 100%;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

header {
  text-align: center;
  width: 100%;
  background-color: transparent;
  height: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

header span {
  font-weight: bolder;
}

ul {
  display: flex;
  justify-content: center;
  gap: 1rem;

  margin-top: 2rem;
}

ul li a {
  display: inline-block;
  width: 25rem;
  height: 20rem;
  background-color: blueviolet;
  border-radius: 1rem;

  background-repeat: no-repeat;
  background-size: cover;

  transition: all .4s;
}
ul li a:hover {
  transform: scale(1.3);
  z-index: 5;
}

ul li:nth-child(1) a {
  background-image: url('./assets/memory-game.png');
  background-position: center center;
}
ul li:nth-child(2) a {
  background-image: url('./assets/sidebar.png');
}
ul li:nth-child(3) a {
  background-image: url('./assets/pomofocus.png');
}
ul li:nth-child(4) a {
  background-image: url('./assets/jogo-da-adivinhacao.png');
  background-position: center center;
}

ul li p {
  font-size: 2rem;
  font-weight: bold;
}